@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<div class="container">
    <div class="page-header">
        <h3>Stream Ripper Subscription Service</h3>
    </div>
    
    <p>By providing an Url and Access Token, this website rips the stream or partitions the stream into <span class="pre">.mp3</span> file and subsequently uploads the to a service</p>

    <p>This service is free, we do not own the ripped <span class="pre">.mp3</span> files and we do not store them, only store them in your file sharing service</p>
</div>