@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h3>
Stream Ripper Subscription Service API
</h3>

<p>
    By providing an Url and Access Token, this website rips the stream or partitions the stream into .mp3 file and subsequently uploads the to a service
</p>

<p>
    This service is free, we do not own the ripped .mp3 files and we do not store them, only store them in your file sharing service
</p>

<p>
    Please visit the <a href="https://stream-subscription-ui.herokuapp.com/">UI website</a>. Thank you.
</p>