@using API.Extensions
@using Api.Interfaces
@using Microsoft.Extensions.Hosting
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Env
@inject IHttpRequestUtilityBuilder RequestUtilityBuilder;
@{
    var utility = RequestUtilityBuilder.For(Context);
    var userInfo = await utility.GetUserInfo();
    var dateTimeNow = DateTime.UtcNow;
    var cacheBustingSuffix = dateTimeNow.Day;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Streaming Subscription</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    @* jQuery*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    @* angular *@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    
    @* bootstrap *@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    @* customs *@
    @if (Env.IsDevelopment())
    {
        <script src="~/scripts/script.js?@cacheBustingSuffix"></script>
        <link rel="stylesheet" href="~/styles/style.css?@cacheBustingSuffix"> 
    }
    else
    {
        <script src="~/scripts/script.min.js?@cacheBustingSuffix"></script>
        <link rel="stylesheet" href="~/styles/style.min.css?@cacheBustingSuffix">
    }
</head>
<body>
  
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="~/">Streaming Subscription</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="@(ViewContext.RouteData.Matches("Home") ? "active" : "")">
                    <a href="/">Home</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="~/Identity/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                    <li>
                        <a href="~/Identity/Register"><span class="glyphicon glyphicon-log-in"></span> Register</a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="~/Identity/LogoutAction"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-app="streamSubscriptionApp" ng-cloak>
    @RenderBody()
</div>

</body>
</html>