@using Models.Constants
@model object

@{
    ViewBag.Title = "Not authenticated";
    Layout = "_Layout";
}

<div class="container">
    <div class="page-header">
        <h2>You are not authenticated, please try login (again!)</h2>
    </div>
    <p>If this problem persist, please contact the site adminstrator</p>

    <ul>
        @foreach (var email in ApiConstants.AdminEmail)
        {
            <li>
                <a href="mailto:@email">@email</a>
            </li>
        }
    </ul>
</div>